/* 共通 */
body {
  margin: 0;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
ul {
  list-style: none;
  margin-top: 20px;
}

h2 {
  margin-top: 0;
  padding-top: 85px;
}
/* header */
header {
background-color: black;
color: white;
height: 70px;
width: 100%;
position: fixed;
top: 0px;
z-index: 10;
}
.header-left {
  float: left;
}
.header-left p {
  font-family: monospace;
  font-size: 25px;
  line-height: 18px;

}
.header-right {
  float: right;
  font-size: 13px;
  opacity: 0.9;
}

/* main */
.main {
  margin-top: 70px;
}
/* countents */
.contents {
  height: 550px;
  background-image: url(https://raw.githubusercontent.com/nexseed0729/nexseedhome/master/spring.webp);
  background-size: cover;
}
.contents text {
  padding-top: 150px;
}

.contents h1 {
  color: black;
  font-size: 45px;
  padding-top: 30px;
  margin-left: 15px;
  letter-spacing: 3px;
}

.contents p {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 50px;
  margin-right: 100px;
  text-align: center;
}

.btn {
  color: white;
  margin-right: 50px;
  padding: 8px 48px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
}

.mein-b {
  background-color: #239b76;
}

.new-b {
  background-color: #55acee;
}

/* part1 */
.part1 {
  background-color: #239b76;
  height: 700px;
  width: 100%;
}
/* part2 */
.part2 {
background-color: #55acee;
height: 700px;
 width: 100%;
}
/* 会社概要 */
table.commpanyprofile {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
table.commpanyprofile th {
  width: 25%;
  padding: 10px;
  font-weight: 400;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background: #eee;
}
table.commpanyprofile td {
  width: 75%;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* footer */
